img {
	position: absolute;
	width: 476px;
	height: 362px;
	left: 400px;
	top: 100px;
}

h1 {
	position: absolute;
	width: 454px;
	height: 31px;
	left: 450px;
	top: 510px;
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	/* identical to box height */
	text-align: center;
	color: black;
}

.btn {
	position: absolute;
	width: 260px;
	height: 52px;
	left: 550px;
	top: 561px;

	background: #fae1a0;
	border-radius: 20px;
    outline: none;
	
}

.btn a {
	text-decoration: none;
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #404040;
}

.container {
    position: relative;
    justify-content: center;
    align-items: center;
}