.e129_2 {
	background-color: rgba(255, 255, 255, 1);
	width: 1340px;
	height: 2391px;
	position: absolute;
}

.e132_35 {
	position: absolute;
	width: 1017px;
	height: 54px;
	left: 134px;
	top: 15px;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #ffffff;
}

.encabeza22 {
	position: absolute;
	width: 1017px;
	height: 76px;
	left: 140px;
	top: 130px;
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	text-align: center;

	color: #ffffff;
}

.encabeza33 {
	position: absolute;
	width: 1017px;
	height: 39px;
	left: 140px;
	top: 210px;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

	color: #ffffff;
}

.e134_41 {
	color: rgba(11.222652196884155, 179.56249594688416, 149.69577938318253, 1);
	width: 290px;
	height: 43px;
	position: absolute;
	left: 507px;
	top: 284px;
	font-family: Roboto;
	text-align: center;
	font-size: 36px;
	letter-spacing: 0;
}
.e134_42 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 118px;
	height: 29px;
	position: absolute;
	left: 177px;
	top: 350px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_43 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 175px;
	top: 389px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e134_45 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 210px;
	height: 29px;
	position: absolute;
	left: 177px;
	top: 427px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_46 {
	width: 408px;
	height: 27px;
	position: absolute;
	left: 177px;
	top: 466px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e134_50 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 185px;
	height: 29px;
	position: absolute;
	left: 183px;
	top: 883px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_87 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 272px;
	height: 29px;
	position: absolute;
	left: 183px;
	top: 710px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_52 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 264px;
	height: 29px;
	position: absolute;
	left: 177px;
	top: 518px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_53 {
	width: 408px;
	height: 27px;
	position: absolute;
	left: 177px;
	top: 572px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e134_48 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 209px;
	height: 23px;
	position: absolute;
	left: 183px;
	top: 797px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_62 {
	width: 402px;
	height: 27px;
	position: absolute;
	left: 183px;
	top: 835px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e134_63 {
	width: 402px;
	height: 27px;
	position: absolute;
	left: 183px;
	top: 922px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_153 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 209px;
	height: 23px;
	position: absolute;
	left: 183px;
	top: 966px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_159 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 209px;
	height: 23px;
	position: absolute;
	left: 183px;
	top: 1052px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_157 {
	width: 402px;
	height: 27px;
	position: absolute;
	left: 183px;
	top: 1006px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_158 {
	width: 402px;
	height: 27px;
	position: absolute;
	left: 183px;
	top: 1090px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e134_80 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 278px;
	height: 23px;
	position: absolute;
	left: 177px;
	top: 620px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e134_84 {
	width: 408px;
	height: 27px;
	position: absolute;
	left: 177px;
	top: 664px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e134_85 {
	width: 402px;
	height: 27px;
	position: absolute;
	left: 183px;
	top: 750px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_164 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 424px;
	height: 29px;
	position: absolute;
	left: 702px;
	top: 352px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_165 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 702px;
	top: 399px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_167 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 286px;
	height: 29px;
	position: absolute;
	left: 702.416748046875px;
	top: 466px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_168 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 702px;
	top: 504px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_172 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 184.25851440429688px;
	height: 29px;
	position: absolute;
	left: 702px;
	top: 790px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_174 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 184.25851440429688px;
	height: 29px;
	position: absolute;
	left: 702px;
	top: 569px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_175 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 702px;
	top: 609px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_178 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 208.16232299804688px;
	height: 23px;
	position: absolute;
	left: 702px;
	top: 902px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_182 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 702px;
	top: 946px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_195 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 208.16232299804688px;
	height: 23px;
	position: absolute;
	left: 702px;
	top: 671px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_199 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 702px;
	top: 723px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e137_200 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 702px;
	top: 840px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_92 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color: rgba(
		173.00000488758087,
		207.00000286102295,
		201.00000321865082,
		0.6000000238418579
	);
	width: 1285px;
	height: 86px;
	position: absolute;
	left: -2px;
	top: 1151px;
}
.e136_93 {
	color: rgba(11.222652196884155, 179.56249594688416, 149.69577938318253, 1);
	width: 456px;
	height: 43px;
	position: absolute;
	left: 413px;
	top: 1172px;
	font-family: Roboto;
	text-align: center;
	font-size: 36px;
	letter-spacing: 0;
}
.e136_94 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 80px;
	height: 29px;
	position: absolute;
	left: 160px;
	top: 1278px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_95 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 160px;
	top: 1325px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_97 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 219px;
	height: 29px;
	position: absolute;
	left: 688px;
	top: 1278px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_98 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 688px;
	top: 1325px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_100 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 318px;
	height: 29px;
	position: absolute;
	left: 689px;
	top: 1608px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_102 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 185px;
	height: 29px;
	position: absolute;
	left: 161px;
	top: 1389px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_104 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 319px;
	height: 29px;
	position: absolute;
	left: 688px;
	top: 1393px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_105 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 688px;
	top: 1433px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_108 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 209px;
	height: 23px;
	position: absolute;
	left: 160px;
	top: 1501px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_112 {
	width: 409px;
	height: 27px;
	position: absolute;
	left: 161px;
	top: 1540px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_113 {
	width: 408px;
	height: 27px;
	position: absolute;
	left: 689px;
	top: 1655px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_133 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 185px;
	height: 29px;
	position: absolute;
	left: 163px;
	top: 1721px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_126 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 209px;
	height: 23px;
	position: absolute;
	left: 162px;
	top: 1618px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_130 {
	width: 409px;
	height: 27px;
	position: absolute;
	left: 163px;
	top: 1657px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_131 {
	width: 409px;
	height: 27px;
	position: absolute;
	left: 163px;
	top: 1766px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_138 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 185px;
	height: 29px;
	position: absolute;
	left: 694px;
	top: 1813px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_141 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 209px;
	height: 23px;
	position: absolute;
	left: 694px;
	top: 1727px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_145 {
	width: 408px;
	height: 27px;
	position: absolute;
	left: 689px;
	top: 1766px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_146 {
	width: 403px;
	height: 27px;
	position: absolute;
	left: 694px;
	top: 1862px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_148 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 185px;
	height: 29px;
	position: absolute;
	left: 166px;
	top: 1825px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_149 {
	width: 409px;
	height: 27px;
	position: absolute;
	left: 163px;
	top: 1876px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_116 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 303px;
	height: 23px;
	position: absolute;
	left: 688px;
	top: 1501px;
	font-family: Roboto;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}
.e136_120 {
	width: 409px;
	height: 27px;
	position: absolute;
	left: 688px;
	top: 1540px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e136_121 {
	width: 410px;
	height: 27px;
	position: absolute;
	left: 160px;
	top: 1427px;
	outline: none;
	background: #ffffff;
	border: 1px solid #acacac;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.e132_28 {
	width: 1280px;
	height: 260.7236328125px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.e132_29 {
	background-color: rgba(
		243.00000071525574,
		166.00000530481339,
		129.00000751018524,
		1
	);
	width: 1316px;
	height: 258px;
	position: absolute;
	left: 24px;
	top: 0px;
}
.e132_30 {
	width: 1280px;
	height: 260.7236328125px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.e132_31 {
	background-color: rgba(
		123.0000002682209,
		185.00000417232513,
		174.00000482797623,
		1
	);
	width: 410.42498779296875px;
	height: 189.9410400390625px;
	position: absolute;
	left: 0.000015735626220703125px;
	top: 0.00000762939453125px;
}
.e132_32 {
	background-color: rgba(
		250.00000029802322,
		225.00000178813934,
		160.00000566244125,
		1
	);
	width: 114.73202514648438px;
	height: 121.7236557006836px;
	position: absolute;
	left: 0px;
	top: 138.99998474121094px;
}

.e132_34 {
	background-color: rgba(
		250.00000029802322,
		225.00000178813934,
		160.00000566244125,
		1
	);
	width: 154.36990356445312px;
	height: 91.52809143066406px;
	position: absolute;
	left: 1125.630126953125px;
	top: 0px;
}
.e132_36 {
	width: 81px;
	height: 152px;
	position: absolute;
	left: 1175px;
	top: 104px;
	background-image: url(img/hands___analytics_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.e137_231 {
	color: rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width: 208.16232299804688px;
	height: 23px;
	position: absolute;
	left: 1486.583251953125px;
	top: 2622px;
	font-family: Roboto;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e137_232 {
	width: 290px;
	height: 80px;
	position: absolute;
	left: 298px;
	top: 2173px;
	border: none;
	background: #ffcd4b;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}
.e137_232:hover {
	background-color: #acacac;
}
.e137_232:active {
	background-color: #7BB9AE;
}
.e137_233 {
	color: rgba(255, 255, 255, 1);
	width: 188px;
	height: 31px;
	position: absolute;
	left: 349px;
	top: 2197px;
	font-family: Roboto Mono;
	text-align: center;
	font-size: 24px;
	letter-spacing: 0;
}
.e137_234 {
	width: 290px;
	height: 31px;
	position: absolute;
	left: 298px;
	top: 2280px;
	letter-spacing: 0;

	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	color: #383838;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.e137_235 {
	width: 141px;
	height: 329px;
	position: absolute;
	left: 133px;
	top: 2025px;
	background-image: url(img/palz___standing_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
