.e129_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1340px;
	height:2391px;
	position:absolute;
}

.encabeza22{
	position: absolute;
	width: 1017px;
	height: 76px;
	left: 134px;
	top: 127px;
	
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	
	color: #FFFFFF;
}

.encabeza33{
	position: absolute;
	width: 1017px;
	height: 39px;
	left: 134px;
	top: 210px;
	
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	
	color: #FFFFFF;
	
}

.e134_38 { 
	width:499px;
	height:825px;
	position:absolute;
	left:131px;
	top:319px;
}
.e134_39 { 
	width:499px;
	height:825px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_40 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(173.00000488758087, 207.00000286102295, 201.00000321865082, 0.6000000238418579);
	width:499px;
	height:825px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e134_41 { 
	color:rgba(11.222652196884155, 179.56249594688416, 149.69577938318253, 1);
	width:290px;
	height:43px;
	position:absolute;
	left:104px;
	top:29px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e134_42 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:80px;
	height:29px;
	position:absolute;
	left:104px;
	top:74px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:290px;
	height:27px;
	position:absolute;
	left:104px;
	top:103px;
	border-radius:5px;
}
.e134_44 { 
	width:290px;
	height:65px;
	position:absolute;
	left:104px;
	top:150px;
}
.e134_45 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:141px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:290px;
	height:27px;
	position:absolute;
	left:0px;
	top:38px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e134_49 { 
	width:185px;
	height:29px;
	position:absolute;
	left:105px;
	top:564px;
}
.e134_50 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_86 { 
	width:185px;
	height:29px;
	position:absolute;
	left:103px;
	top:400px;
}
.e134_87 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_51 { 
	width:290px;
	height:67px;
	position:absolute;
	left:104px;
	top:237px;
}
.e134_52 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_53 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:290px;
	height:27px;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e134_77 { 
	width:291px;
	height:132px;
	position:absolute;
	left:104px;
	top:490px;
}
.e134_47 { 
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_48 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_57 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e134_60 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_61 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_62 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e134_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_151 { 
	width:291px;
	height:132px;
	position:absolute;
	left:105px;
	top:651px;
}
.e137_152 { 
	width:210px;
	height:97px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_153 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_159 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:1px;
	top:74px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_154 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e137_155 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_156 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_157 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e137_158 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e134_78 { 
	width:291px;
	height:132px;
	position:absolute;
	left:102px;
	top:329px;
}
.e134_79 { 
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_80 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e134_81 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e134_82 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_83 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_84 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e134_85 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_160 { 
	width:497px;
	height:621px;
	position:absolute;
	left:133px;
	top:1232px;
}
.e137_161 { 
	width:497px;
	height:621px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_162 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(173.00000488758087, 207.00000286102295, 201.00000321865082, 0.6000000238418579);
	width:497px;
	height:621px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:40px;
}
.e137_163 { 
	color:rgba(11.222652196884155, 179.56249594688416, 149.69577938318253, 1);
	width:288px;
	height:43px;
	position:absolute;
	left:104px;
	top:51px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e137_164 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:286px;
	height:29px;
	position:absolute;
	left:104px;
	top:96px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_165 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:288.8376770019531px;
	height:27px;
	position:absolute;
	left:103.58316802978516px;
	top:125px;
	border-radius:5px;
}

.e137_166 { 
	width:288.8376770019531px;
	height:65px;
	position:absolute;
	left:103.58316802978516px;
	top:172px;
}
.e137_167 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:286px;
	height:29px;
	position:absolute;
	left:0.416748046875px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_168 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:288.8376770019531px;
	height:27px;
	position:absolute;
	left:0px;
	top:38px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_171 { 
	width:184.25851440429688px;
	height:29px;
	position:absolute;
	left:102.58717346191406px;
	top:422px;
}
.e137_172 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:184.25851440429688px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_173 { 
	width:288.8376770019531px;
	height:67px;
	position:absolute;
	left:103.58316802978516px;
	top:259px;
}
.e137_174 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:184.25851440429688px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_175 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:288.8376770019531px;
	height:27px;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_176 { 
	width:288.83758544921875px;
	height:57px;
	position:absolute;
	left:103.58316802978516px;
	top:512px;
}
.e137_177 { 
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_178 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_179 { 
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0.9959063529968262px;
	top:30px;
}
.e137_180 { 
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_181 { 
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_182 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:5px;
}

.e137_193 { 
	width:289.83392333984375px;
	height:132px;
	position:absolute;
	left:101.59141540527344px;
	top:351px;
}
.e137_194 { 
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_195 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_196 { 
	width:289.83367919921875px;
	height:102px;
	position:absolute;
	left:0.0002358232013648376px;
	top:30px;
}
.e137_197 { 
	width:289.83367919921875px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_198 { 
	width:289.83367919921875px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_199 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0.9959920048713684px;
	top:0px;
	border-radius:5px;
}

.e137_200 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289.83367919921875px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_202 { 
	width:497px;
	height:621px;
	position:absolute;
	left:656px;
	top:1456px;
}
.e137_203 { 
	width:497px;
	height:621px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_204 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(173.00000488758087, 207.00000286102295, 201.00000321865082, 0.6000000238418579);
	width:497px;
	height:621px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:40px;
}
.e137_205 { 
	color:rgba(11.222652196884155, 179.56249594688416, 149.69577938318253, 1);
	width:288px;
	height:43px;
	position:absolute;
	left:104px;
	top:51px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e137_206 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:286px;
	height:29px;
	position:absolute;
	left:105px;
	top:96px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_207 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:288.8376770019531px;
	height:27px;
	position:absolute;
	left:103.58316802978516px;
	top:125px;
	border-radius:5px;
}

.e137_208 { 
	width:288.8376770019531px;
	height:65px;
	position:absolute;
	left:103.58316802978516px;
	top:172px;
}
.e137_209 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:286px;
	height:29px;
	position:absolute;
	left:0.416748046875px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_210 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:288.8376770019531px;
	height:27px;
	position:absolute;
	left:0px;
	top:38px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_211 { 
	width:184.25851440429688px;
	height:29px;
	position:absolute;
	left:102.58717346191406px;
	top:422px;
}
.e137_212 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:184.25851440429688px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_213 { 
	width:288.8376770019531px;
	height:67px;
	position:absolute;
	left:103.58316802978516px;
	top:259px;
}
.e137_214 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:184.25851440429688px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_215 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:288.8376770019531px;
	height:27px;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e137_216 { 
	width:288.83758544921875px;
	height:57px;
	position:absolute;
	left:103.58316802978516px;
	top:512px;
}
.e137_217 { 
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_218 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_219 { 
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0.9959063529968262px;
	top:30px;
}
.e137_220 { 
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_221 { 
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_222 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:5px;
}

.e137_223 { 
	width:289.83392333984375px;
	height:132px;
	position:absolute;
	left:101.59141540527344px;
	top:351px;
}
.e137_224 { 
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_225 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_226 { 
	width:289.83367919921875px;
	height:102px;
	position:absolute;
	left:0.0002358232013648376px;
	top:30px;
}
.e137_227 { 
	width:289.83367919921875px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_228 { 
	width:289.83367919921875px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e137_229 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:287.8416748046875px;
	height:27px;
	position:absolute;
	left:0.9959920048713684px;
	top:0px;
	border-radius:5px;
}

.e137_230 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289.83367919921875px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_90 { 
	width:499px;
	height:1042px;
	position:absolute;
	left:652px;
	top:319px;
}
.e136_91 { 
	width:499px;
	height:1042px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_92 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
	background-color:rgba(173.00000488758087, 207.00000286102295, 201.00000321865082, 0.6000000238418579);
	width:499px;
	height:1042px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e136_93 { 
	color:rgba(11.222652196884155, 179.56249594688416, 149.69577938318253, 1);
	width:290px;
	height:43px;
	position:absolute;
	left:104px;
	top:29px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e136_94 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:80px;
	height:29px;
	position:absolute;
	left:104px;
	top:74px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_95 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:290px;
	height:27px;
	position:absolute;
	left:104px;
	top:103px;
	border-radius:5px;
}

.e136_96 { 
	width:290px;
	height:65px;
	position:absolute;
	left:104px;
	top:150px;
}
.e136_97 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:141px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_98 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:290px;
	height:27px;
	position:absolute;
	left:0px;
	top:38px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_99 { 
	width:185px;
	height:29px;
	position:absolute;
	left:105px;
	top:564px;
}
.e136_100 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_101 { 
	width:185px;
	height:29px;
	position:absolute;
	left:103px;
	top:400px;
}
.e136_102 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_103 { 
	width:290px;
	height:67px;
	position:absolute;
	left:104px;
	top:237px;
}
.e136_104 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_105 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:290px;
	height:27px;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_106 { 
	width:291px;
	height:132px;
	position:absolute;
	left:104px;
	top:490px;
}
.e136_107 { 
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_108 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_109 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e136_110 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_111 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_112 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e136_113 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_135 { 
	width:291px;
	height:132px;
	position:absolute;
	left:105px;
	top:651px;
}
.e136_132 { 
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:74px;
}
.e136_133 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_124 { 
	width:291px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_125 { 
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_126 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_127 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e136_128 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_129 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_130 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e136_131 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_136 { 
	width:292px;
	height:210px;
	position:absolute;
	left:106px;
	top:808px;
}
.e136_137 { 
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:74px;
}
.e136_138 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_139 { 
	width:291px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_140 { 
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_141 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_142 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e136_143 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_144 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_145 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e136_146 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_147 { 
	width:185px;
	height:29px;
	position:absolute;
	left:1px;
	top:152px;
}
.e136_148 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_149 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:1px;
	top:183px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e136_114 { 
	width:291px;
	height:132px;
	position:absolute;
	left:102px;
	top:329px;
}
.e136_115 { 
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_116 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:209px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e136_117 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:30px;
}
.e136_118 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_119 { 
	width:291px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
}
.e136_120 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:27px;
	position:absolute;
	left:1px;
	top:0px;
	border-radius:5px;
}

.e136_121 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:291px;
	height:27px;
	position:absolute;
	left:0px;
	top:75px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.e132_28 { 
	width:1280px;
	height:260.7236328125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e132_29 { 
	background-color:rgba(243.00000071525574, 166.00000530481339, 129.00000751018524, 1);
	width:1316px;
	height:258px;
	position:absolute;
	left:24px;
	top:0px;
}
.e132_30 { 
	width:1280px;
	height:260.7236328125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e132_31 { 
	background-color:rgba(123.0000002682209, 185.00000417232513, 174.00000482797623, 1);
	width:410.42498779296875px;
	height:189.9410400390625px;
	position:absolute;
	left:0.000015735626220703125px;
	top:0.00000762939453125px;
}
.e132_32 { 
	background-color:rgba(250.00000029802322, 225.00000178813934, 160.00000566244125, 1);
	width:114.73202514648438px;
	height:121.7236557006836px;
	position:absolute;
	left:0px;
	top:138.99998474121094px;
}

.e132_34 { 
	background-color:rgba(250.00000029802322, 225.00000178813934, 160.00000566244125, 1);
	width:154.36990356445312px;
	height:91.52809143066406px;
	position:absolute;
	left:1125.630126953125px;
	top:0px;
}
.e132_36 { 
	width:81px;
	height:152px;
	position:absolute;
	left:1175px;
	top:104px;
	background-image:url(img/hands___analytics_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e132_35 { 

	position: absolute;
	width: 1017px;
	height: 54px;
	left: 134px;
	top: 19px;
	
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	
	color: #FFFFFF;
}
.e136_122 { 
	transform: rotate(90deg);
	width:17px;
	height:0px;
	position:absolute;
	left:1034px;
	top:757px;
}

.e136_123 { 
	transform: rotate(90deg);
	width:17px;
	height:0px;
	position:absolute;
	left:1039px;
	top:844px;
}

.e136_134 { 
	transform: rotate(90deg);
	width:17px;
	height:0px;
	position:absolute;
	left:1039px;
	top:1005px;
}

.e136_150 { 
	transform: rotate(90deg);
	width:17px;
	height:0px;
	position:absolute;
	left:1043px;
	top:1314px;
}

.e137_231 { 
	color:rgba(86.06250151991844, 85.70390716195107, 85.70390716195107, 1);
	width:208.16232299804688px;
	height:23px;
	position:absolute;
	left:1486.583251953125px;
	top:2622px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e137_232 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 205.12155085802078, 75.43750405311584, 1);
	width:290px;
	height:80px;
	position:absolute;
	left:298px;
	top:2173px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e137_233 { 
	position: absolute;
	width: 188px;
	height: 31px;
	left: 349px;
	top: 2197px;
	
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	
	color: #FFFFFF;
}
.e137_234 { 
	position: absolute;
	width: 290px;
	height: 31px;
	left: 298px;
	top: 2280px;
	
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	
	color: #383838;
	
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.e137_235 { 
	width:141px;
	height:329px;
	position:absolute;
	left:133px;
	top:2025px;
	background-image:url(img/palz___standing_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
