.e302_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1340px;
	height:700px;
	position:absolute;
}
.e305_10 { 
	background-color:rgba(123.0000002682209, 185.00000417232513, 174.00000482797623, 1);
	width:1341px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
.e302_25 { 
	width:447px;
	height:37px;
	position:absolute;
	left:306px;
	top:48px;
}
.e302_3 { 
	position: absolute;
	width: 447px;
	height: 37px;
	left: 0px;
	top: 0px;
	
	font-family: Roboto Condensed;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	
	color: #F4F4F4;
}
.e305_7 { 
	box-shadow:2px 4px 4px rgba(0, 0, 0, 0.25);
	width:354px;
	height:53px;
	position:absolute;
	left:212px;
	top:199px;
}
.e302_5 { 
	background-color:rgba(249.6875050663948, 154.82270747423172, 109.2382863163948, 1);
	width:354px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 15px;
}
.e302_30 { 
	color:rgba(255, 255, 255, 1);
	width:212.40000915527344px;
	height:19px;
	position:absolute;
	left:70.80001068115234px;
	top:17px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e305_4 { 
	box-shadow:2px 4px 4px rgba(0, 0, 0, 0.25);
	width:354px;
	height:53px;
	position:absolute;
	left:586px;
	top:199px;
}
.e302_26 { 
	background-color:rgba(249.6875050663948, 154.82270747423172, 109.2382863163948, 1);
	width:354px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 15px;
}
.e302_31 { 
	color:rgba(255, 255, 255, 1);
	width:212.39999389648438px;
	height:19px;
	position:absolute;
	left:70.80000305175781px;
	top:17px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e305_2 { 
	box-shadow:2px 4px 4px rgba(0, 0, 0, 0.25);
	width:354px;
	height:53px;
	position:absolute;
	left:212px;
	top:415px;
}
.e302_29 { 
	background-color:rgba(249.6875050663948, 154.82270747423172, 109.2382863163948, 1);
	width:354px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 15px;
}
.e302_32 { 
	color:rgba(255, 255, 255, 1);
	width:212.39999389648438px;
	height:19px;
	position:absolute;
	left:70.79998779296875px;
	top:17px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e305_6 { 
	box-shadow:2px 4px 4px rgba(0, 0, 0, 0.25);
	width:354px;
	height:53px;
	position:absolute;
	left:399px;
	top:582px;
}
.e305_5 { 
	width:354px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e302_27 { 
	background-color:rgba(249.6875050663948, 154.82270747423172, 109.2382863163948, 1);
	width:354px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 15px;
}
.e302_34 { 
	color:rgba(255, 255, 255, 1);
	width:250.5230712890625px;
	height:19px;
	position:absolute;
	left:51.738525390625px;
	top:17px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e305_9 { 
	box-shadow:2px 4px 4px rgba(0, 0, 0, 0.25);
	width:354px;
	height:53px;
	position:absolute;
	left:586px;
	top:415px;
}
.e302_28 { 
	background-color:rgba(249.6875050663948, 154.82270747423172, 109.2382863163948, 1);
	width:354px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 15px;
}
.e305_8 { 
	width:243.7153778076172px;
	height:19px;
	position:absolute;
	left:55.82318878173828px;
	top:17px;
}
.e302_33 { 
	color:rgba(255, 255, 255, 1);
	width:243.7153778076172px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e302_22 { 
	width:64px;
	height:58px;
	position:absolute;
	left:119px;
	top:27px;
	background-image:url(images/brick.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e305_11 { 
	width:64px;
	height:64px;
	position:absolute;
	left:367px;
	top:125px;
	background-image:url(images/book_and_pencil.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e305_12 { 
	width:75px;
	height:75px;
	position:absolute;
	left:715px;
	top:120px;
	background-image:url(images/student_registration.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e305_13 { 
	width:64px;
	height:64px;
	position:absolute;
	left:367px;
	top:318px;
	background-image:url(images/physics_book.png);
	background-repeat:no-repeat;
	background-size:cover;
}
